streamlit>=1.27.0
openai==1.13.3
python-dotenv>=1.0.0
requests==2.31.0
pydantic==2.6.1
streamlit-extras==0.3.6
pyperclip==1.8.2
typing-extensions>=4.0.0
jsonschema==4.17.3
altair==4.2.2
protobuf==4.22.3 